.c-customer-reviews {
    display: flex;
    align-items: stretch;

    &__content {
        position: relative;
        float: left;
        width: 100%;

        &:before {
            content: "";
            display: block;
            padding-top: 25%;
            float: left;
        }
    }
}
