#wrapper .c-form,
#header-newsletter-signup .c-form {
    input[type="email"],
    input[type="date"],
    input[type="search"],
    input[type="number"],
    input[type="text"],
    input[type="tel"],
    input[type="url"],
    input[type="password"],
    textarea,
    select,
    .select-resize-ghost,
    .select2-container .select2-choice,
    .select2-container .select2-selection {
        transition: 0.5s border cubic-bezier(0.11, 0.82, 0.63, 0.94);
        color: $textColor !important;
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
        min-height: 50px;
        height: 50px;
        font: inherit;
        border: 1px solid #424949;
        background-color: #fff !important;
        border-radius: 0;

        &::-webkit-input-placeholder,
        &::placeholder {
            color: $textColor !important;
        }

        &.wpcf7-not-valid {
            border-color: $failedColor;
        }
    }

    input[type="submit"] {
        border-radius: 0;
    }

    .wpcf7-not-valid-tip {
        margin: -7px 0 15px;
    }

    .c-form__item--no-label {
        position: relative;

        &::after {
            right: 10px;
            top: 15px;
            content: "*";
            position: absolute;
            color: $textColor;
        }
    }
}

body {
    input[type="email"]:focus,
    input[type="search"]:focus,
    input[type="number"]:focus,
    input[type="tel"]:focus,
    input[type="text"]:focus,
    input[type="password"]:focus,
    input[type="url"]:focus,
    textarea:focus,
    select:focus {
        outline: none;
        box-shadow: 0 0 0.3rem 0.1rem $primary;
    }

    input[type="email"],
    input[type="date"],
    input[type="search"],
    input[type="number"],
    input[type="text"],
    input[type="tel"],
    input[type="url"],
    input[type="password"],
    textarea,
    select,
    .select-resize-ghost,
    .select2-container .select2-choice,
    .select2-container .select2-selection {
        box-shadow: none;
        border: 1px solid $textColor;
    }

    .is-form,
    button.is-form,
    input[type="submit"].is-form,
    input[type="reset"].is-form,
    input[type="button"].is-form {
        text-shadow: none;
    }

    legend {
        font-size: 1.14rem;
        line-height: 1.69rem;
        color: $primary;
        text-transform: none;
    }
}
