body .dark,
body .dark p,
body .dark td {
    color: #fff;
}

body {
    h1,
    .h1 {
        font-size: 2.85rem;
        line-height: 3.4rem;
    }

    .banner h2,
    h2,
    .h2 {
        font-size: 2.28rem;
        line-height: 2.83rem;
    }

    h3,
    .h3 {
        font-size: 1.805rem;
        line-height: 2.355rem;
    }

    h4,
    .h4 {
        font-size: 1.52rem;
        line-height: 2.07rem;
    }

    h5,
    .h5 {
        font-size: 1.33rem;
        line-height: 1.88rem;
    }

    h6,
    .h6 {
        font-size: 1.14rem;
        line-height: 1.69rem;
        text-transform: none;
        opacity: 1;
    }
}

body .is-well {
    background: #fff;
}

// WooCommers Product image lightbox: hide captions
body .pswp__caption {
    display: none;
}