.header-search-form.search-form {
    .search-field {
        border: 1px solid $textColor;
        font-weight: 500;

        &::-webkit-input-placeholder,
        &::placeholder {
            color: $textColor !important;
            font-weight: 500;
        }
    }
}
