.c-map {
    position: relative;
    max-height: 450px;

    &::before {
        padding-top: 56%;
        content: '';
        display: block;
    }

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}