.wide-nav {
  padding: 20px 0;

  .wide-banner-container {
    align-items: flex-start;
    justify-content: center;
  }

  .wide-banner {
    width: 100%;
    padding: 5px;
    text-align: center;
  }
}


@media screen and (min-width: $tablet) {
  .wide-nav {
    .wide-banner-container {
      display: flex;
      align-items: flex-start;

      .wide-banner {
        width: 25%;
      }
    }

    .nav {
      flex-flow: initial;
    }
  }
}