.button {
  &.secondary {
    transition: all 0.7s cubic-bezier(0.11, 0.82, 0.63, 0.94);
    border: 1px solid $secondary;
    box-shadow: none;

    &:hover,
    &:focus {
      border: 1px solid #fff;
      color: #fff;
      background: transparent !important;
      box-shadow: none;
    }
  }

  &.secondary.is-outline {
    border: 1px solid $secondary;
    color: $secondary;
    background: transparent;

    &:hover,
    &:focus {
      color: #fff;
      background: $secondary !important;
    }
  }
}

body {
  button.is-form,
  input[type="submit"].is-form,
  input[type="reset"].is-form,
  input[type="button"].is-form {
    border: 1px solid $secondary;
    color: #fff;
    background: $secondary;
    transition: all 0.7s cubic-bezier(0.11, 0.82, 0.63, 0.94);
    box-shadow: none;

    &:hover,
    &:focus {
      border-color: $textColor;
      color: $textColor;
      box-shadow: none;
    }
  }
}

#wrapper,
#login-form-popup {
  .button.checkout,
  .single_add_to_cart_button,
  .button.secondary.dark,
  .button.wc-forward.checkout {
    box-shadow: none;
    transition: all 0.7s cubic-bezier(0.11, 0.82, 0.63, 0.94);
    border: 1px solid $secondary;

    &:hover,
    &:focus {
      color: $textColor;
      background: transparent;
      border-color: $textColor;
    }
  }
}

// Mini cart
.cart-item .button.wc-forward:not(.checkout) {
  box-shadow: none;
  transition: all 0.7s cubic-bezier(0.11, 0.82, 0.63, 0.94);
  border: 1px solid $primary;

  &:hover,
  &:focus {
    color: $textColor;
    background: transparent;
    border-color: $textColor;
  }
}

// My Account
body .dashboard-links a {
  transition: all 0.7s cubic-bezier(0.11, 0.82, 0.63, 0.94);
  border: 1px solid $secondary;
  box-shadow: none;
  background: $secondary;
  color: #fff;
  border-radius: 0;
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: $textColor;
    background: transparent;
    border-color: $textColor;
  }
}

// Loader
body .button.loading:after {
  border-color: $primary;
}

#wrapper .button.is-form {
  font-weight: 700;
  text-transform: uppercase;
}

// Post comment form
#wrapper .form-submit input[type="submit"] {
  background: $secondary;
  transition: all 0.7s cubic-bezier(0.11, 0.82, 0.63, 0.94);

  &:hover,
  &:focus {
    color: $textColor;
    background: transparent;
    border-color: $textColor;
    box-shadow: none;
  }
}

// Submit icon buttons (search...)
body {
  .button.icon.submit-button {
    &:hover,
    &:focus {
      border-color: $textColor;
      color: $textColor;
    }

    &.loading::after {
      border-color: #fff;
    }
  }
}
