body form.checkout h3 {
  text-transform: none;
  font-size: 1.805rem;
  line-height: 2.355rem;
}

.billing_radio-btn {
  .woocommerce-input-wrapper {
    display: flex;
  }

  input[value="no"] {
    margin-left: 10px;
  }
}

body form.checkout .billing_heading {
  font-size: 1.33rem;
  line-height: 1.88rem;
}

@media screen and (min-width: 767px) {
  .woocommerce-checkout-page {
    display: flex;
    flex-wrap: wrap;

    #billing_first_name_field {
      order: 1;
    }

    #billing_last_name_field {
      order: 2;
    }

    #billing_company_field {
      order: 3;
      width: 100%;
    }

    #billing_country_field {
      margin-right: 4%;
      width: 48%;
      order: 4;
    }

    #billing_city_field {
      order: 5;
      width: 48%;
    }

    #billing_address_1_field {
      order: 6;
    }

    #billing_address_2_field {
      order: 7;
    }

    #billing_state_field {
      order: 8;
      margin-right: 4%;
      width: 48%;
    }

    #billing_postcode_field {
      order: 9;
      width: 48%;
    }

    #billing_phone_field {
      order: 10;
      margin-right: 4%;
      width: 48%;
    }

    #billing_email_field {
      order: 11;
      width: 48%;
    }
  }
}

// Fix checkox vertical alignment
#ship-to-different-address label {
  display: flex;
  align-items: center;
  line-height: 1;
}