body {
    .nav-uppercase > li > a {
        letter-spacing: 0;
    }

    .nav-dropdown-default .nav-column li > a,
    .nav-dropdown.nav-dropdown-default > li > a {
        font-size: .8em;
        white-space: nowrap;
    }
}
