h3.widget-title,
span.widget-title {
    color: $primary;
}

.dark {
    h3.widget-title,
    span.widget-title {
        color: #fff;
    }
}

body {
    .uppercase,
    h6,
    th,
    span.widget-title {
        letter-spacing: 0;
    }

    span.widget-title {
        font-size: 1.14rem;
        line-height: 1.69rem;
    }
}
